services:
  app:
    build: .
    env_file: .env
    environment:
      WEATHER_ENABLED: ${WEATHER_ENABLED:-true}
      ACCUWEATHER_API_KEY: ${ACCUWEATHER_API_KEY:-}
      WEATHER_CITY: ${WEATHER_CITY:-London}
      WEATHER_FETCH_INTERVAL_MINUTES: ${WEATHER_FETCH_INTERVAL_MINUTES:-60}
      CALENDAR_ENABLED: ${CALENDAR_ENABLED:-true}
      CALDAV_CALENDAR_URL: ${CALDAV_CALENDAR_URL:-}
      CALDAV_AUTH_TYPE: ${CALDAV_AUTH_TYPE:-basic}
      CALDAV_USERNAME: ${CALDAV_USERNAME:-}
      CALDAV_PASSWORD: ${CALDAV_PASSWORD:-}
      CALDAV_FETCH_INTERVAL_MINUTES: ${CALDAV_FETCH_INTERVAL_MINUTES:-30}
      CALDAV_DAYS_AHEAD: ${CALDAV_DAYS_AHEAD:-7}
    tmpfs:
      - /tmp
